In [1]:
import pandas as pd
import datetime as dt

## 10.129 Review of Python's datetime Module

In [3]:
someday = dt.date(2010, 1, 20)

In [6]:
someday.year
someday.month
someday.day

20

In [11]:
str(someday)

'2010-01-20'

In [10]:
str(dt.datetime(2010, 1, 10, 17, 13, 57))

'2010-01-10 17:13:57'

In [14]:
sometime = dt.datetime(2010, 1, 10, 17, 13, 57)

In [16]:
sometime.minute
sometime.second

57

## The pandas Timestamp Object

In [24]:
pd.Timestamp("2015-3-31")
pd.Timestamp("2015/3/31")
pd.Timestamp("2013, 11, 4")
pd.Timestamp("1/1/2015")
pd.Timestamp("19/12/2015")
pd.Timestamp("4/3/2000")
pd.Timestamp("2021-3-8 8:35:15")
pd.Timestamp("2021-3-8 6:13:29 PM")

Timestamp('2021-03-08 18:13:29')

In [25]:
pd.Timestamp(dt.date(2015, 1, 1))

Timestamp('2015-01-01 00:00:00')

In [26]:
pd.Timestamp(dt.datetime(2000, 2, 3, 21, 35, 22))

Timestamp('2000-02-03 21:35:22')

## The pandas DatetimeIndex Object

In [29]:
dates = ["2016/1/2", "2016/4/12", "2009/9/7"]
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [32]:
dates = [dt.date(2016, 1, 10), dt.date(1994, 6, 13), dt.date(2003, 12, 29)]
dtIndex = pd.DatetimeIndex(dates)

In [33]:
values = [100, 200, 300]
pd.Series(data = values, index=dtIndex)

2016-01-10    100
1994-06-13    200
2003-12-29    300
dtype: int64

## 10.132 - The pd.to_datetime() Method

In [37]:
pd.to_datetime("2001-4-19")
pd.to_datetime(dt.date(2015, 1, 1))
pd.to_datetime(dt.datetime(2015, 1, 1, 14, 35, 20))
pd.to_datetime(["2015-1-3", "2014/2/8", "2016", "July 4th, 1996"])

DatetimeIndex(['2015-01-03', '2014-02-08', '2016-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [39]:
times = pd.Series(["2015-1-3", "2014/2/8", "2016", "July 4th, 1996"])
times

0          2015-1-3
1          2014/2/8
2              2016
3    July 4th, 1996
dtype: object

In [40]:
pd.to_datetime(times)

0   2015-01-03
1   2014-02-08
2   2016-01-01
3   1996-07-04
dtype: datetime64[ns]

In [42]:
dates = pd.Series(["July 4th, 1996", "10/4/1991", "Hello", "2015-2-30"])
dates

0    July 4th, 1996
1         10/4/1991
2             Hello
3         2015-2-30
dtype: object

In [44]:
pd.to_datetime(dates, errors="coerce")

0   1996-07-04
1   1991-10-04
2          NaT
3          NaT
dtype: datetime64[ns]

In [46]:
pd.to_datetime([1349720105, 1349806505, 1349892905, 1349979305, 1350065705], unit="s")

DatetimeIndex(['2012-10-08 18:15:05', '2012-10-09 18:15:05',
               '2012-10-10 18:15:05', '2012-10-11 18:15:05',
               '2012-10-12 18:15:05'],
              dtype='datetime64[ns]', freq=None)

## 10.133 - Create Range of Dates with the pd.date_range() Method, Part 1

In [49]:
times = pd.date_range(start="2016-1-1", end="2016-1-10", freq="D")

In [50]:
type(times)

pandas.tseries.index.DatetimeIndex

In [52]:
type(times[0])

pandas.tslib.Timestamp

In [66]:
pd.date_range(start="2016-1-1", end="2050-1-1", freq="A")

DatetimeIndex(['2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31', '2037-12-31', '2038-12-31', '2039-12-31',
               '2040-12-31', '2041-12-31', '2042-12-31', '2043-12-31',
               '2044-12-31', '2045-12-31', '2046-12-31', '2047-12-31',
               '2048-12-31', '2049-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [68]:
pd.date_range(start="2016-1-1", end="2017-1-10", freq="MS")

DatetimeIndex(['2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
               '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
               '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01',
               '2017-01-01'],
              dtype='datetime64[ns]', freq='MS')

## 10.134 - Create Range of Dates with the pd.date_range() Method, Part 2

In [78]:
pd.date_range(start="2012-9-9", periods=50, freq="6H")

DatetimeIndex(['2012-09-09 00:00:00', '2012-09-09 06:00:00',
               '2012-09-09 12:00:00', '2012-09-09 18:00:00',
               '2012-09-10 00:00:00', '2012-09-10 06:00:00',
               '2012-09-10 12:00:00', '2012-09-10 18:00:00',
               '2012-09-11 00:00:00', '2012-09-11 06:00:00',
               '2012-09-11 12:00:00', '2012-09-11 18:00:00',
               '2012-09-12 00:00:00', '2012-09-12 06:00:00',
               '2012-09-12 12:00:00', '2012-09-12 18:00:00',
               '2012-09-13 00:00:00', '2012-09-13 06:00:00',
               '2012-09-13 12:00:00', '2012-09-13 18:00:00',
               '2012-09-14 00:00:00', '2012-09-14 06:00:00',
               '2012-09-14 12:00:00', '2012-09-14 18:00:00',
               '2012-09-15 00:00:00', '2012-09-15 06:00:00',
               '2012-09-15 12:00:00', '2012-09-15 18:00:00',
               '2012-09-16 00:00:00', '2012-09-16 06:00:00',
               '2012-09-16 12:00:00', '2012-09-16 18:00:00',
               '2012-09-17 00:00:00', '2012-09-17 06:00:00',
               '2012-09-17 12:00:00', '2012-09-17 18:00:00',
               '2012-09-18 00:00:00', '2012-09-18 06:00:00',
               '2012-09-18 12:00:00', '2012-09-18 18:00:00',
               '2012-09-19 00:00:00', '2012-09-19 06:00:00',
               '2012-09-19 12:00:00', '2012-09-19 18:00:00',
               '2012-09-20 00:00:00', '2012-09-20 06:00:00',
               '2012-09-20 12:00:00', '2012-09-20 18:00:00',
               '2012-09-21 00:00:00', '2012-09-21 06:00:00'],
              dtype='datetime64[ns]', freq='6H')

## 10.135 - Create Range of Dates with the pd.date_range() Method, Part 3

In [88]:
pd.date_range(end="1999-12-31", periods=100, freq="7H")

DatetimeIndex(['1999-12-02 03:00:00', '1999-12-02 10:00:00',
               '1999-12-02 17:00:00', '1999-12-03 00:00:00',
               '1999-12-03 07:00:00', '1999-12-03 14:00:00',
               '1999-12-03 21:00:00', '1999-12-04 04:00:00',
               '1999-12-04 11:00:00', '1999-12-04 18:00:00',
               '1999-12-05 01:00:00', '1999-12-05 08:00:00',
               '1999-12-05 15:00:00', '1999-12-05 22:00:00',
               '1999-12-06 05:00:00', '1999-12-06 12:00:00',
               '1999-12-06 19:00:00', '1999-12-07 02:00:00',
               '1999-12-07 09:00:00', '1999-12-07 16:00:00',
               '1999-12-07 23:00:00', '1999-12-08 06:00:00',
               '1999-12-08 13:00:00', '1999-12-08 20:00:00',
               '1999-12-09 03:00:00', '1999-12-09 10:00:00',
               '1999-12-09 17:00:00', '1999-12-10 00:00:00',
               '1999-12-10 07:00:00', '1999-12-10 14:00:00',
               '1999-12-10 21:00:00', '1999-12-11 04:00:00',
               '1999-12-11 11:00:00', '1999-12-11 18:00:00',
               '1999-12-12 01:00:00', '1999-12-12 08:00:00',
               '1999-12-12 15:00:00', '1999-12-12 22:00:00',
               '1999-12-13 05:00:00', '1999-12-13 12:00:00',
               '1999-12-13 19:00:00', '1999-12-14 02:00:00',
               '1999-12-14 09:00:00', '1999-12-14 16:00:00',
               '1999-12-14 23:00:00', '1999-12-15 06:00:00',
               '1999-12-15 13:00:00', '1999-12-15 20:00:00',
               '1999-12-16 03:00:00', '1999-12-16 10:00:00',
               '1999-12-16 17:00:00', '1999-12-17 00:00:00',
               '1999-12-17 07:00:00', '1999-12-17 14:00:00',
               '1999-12-17 21:00:00', '1999-12-18 04:00:00',
               '1999-12-18 11:00:00', '1999-12-18 18:00:00',
               '1999-12-19 01:00:00', '1999-12-19 08:00:00',
               '1999-12-19 15:00:00', '1999-12-19 22:00:00',
               '1999-12-20 05:00:00', '1999-12-20 12:00:00',
               '1999-12-20 19:00:00', '1999-12-21 02:00:00',
               '1999-12-21 09:00:00', '1999-12-21 16:00:00',
               '1999-12-21 23:00:00', '1999-12-22 06:00:00',
               '1999-12-22 13:00:00', '1999-12-22 20:00:00',
               '1999-12-23 03:00:00', '1999-12-23 10:00:00',
               '1999-12-23 17:00:00', '1999-12-24 00:00:00',
               '1999-12-24 07:00:00', '1999-12-24 14:00:00',
               '1999-12-24 21:00:00', '1999-12-25 04:00:00',
               '1999-12-25 11:00:00', '1999-12-25 18:00:00',
               '1999-12-26 01:00:00', '1999-12-26 08:00:00',
               '1999-12-26 15:00:00', '1999-12-26 22:00:00',
               '1999-12-27 05:00:00', '1999-12-27 12:00:00',
               '1999-12-27 19:00:00', '1999-12-28 02:00:00',
               '1999-12-28 09:00:00', '1999-12-28 16:00:00',
               '1999-12-28 23:00:00', '1999-12-29 06:00:00',
               '1999-12-29 13:00:00', '1999-12-29 20:00:00',
               '1999-12-30 03:00:00', '1999-12-30 10:00:00',
               '1999-12-30 17:00:00', '1999-12-31 00:00:00'],
              dtype='datetime64[ns]', freq='7H')

## 10.136 - The .dt Accessor

In [91]:
bunch_of_dates = pd.date_range(start="2000-1-1", end="2010-12-31", freq="24D")

In [93]:
s = pd.Series(bunch_of_dates)
s.head(3)

0   2000-01-01
1   2000-01-25
2   2000-02-18
dtype: datetime64[ns]

In [102]:
mask = s.dt.is_month_end
s[mask]

5     2000-04-30
57    2003-09-30
71    2004-08-31
90    2005-11-30
123   2008-01-31
161   2010-07-31
dtype: datetime64[ns]

## 10.137 - Install pandas-datareader Library

This was done using terminal command **conda install pandas-datareader** in the root environment.

## 10.138 - Import Financial Data Set with pandas_datareader Library

In [1]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [2]:
company = "MSFT"
start = "2010-1-1"
end = "2017-12-31"

stocks = data.DataReader(name = company, data_source="google", start=start, end=end)
stocks.head(3)

             Open   High    Low  Close    Volume
Date
2010-01-04  30.62  31.10  30.59  30.95  38414185
2010-01-05  30.85  31.10  30.64  30.96  49758862
2010-01-06  30.88  31.08  30.52  30.77  58182332

In [3]:
stocks.values
stocks.columns
stocks.index
stocks.axes

[DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
                '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
                '2010-01-14', '2010-01-15',
                ...
                '2017-01-13', '2017-01-17', '2017-01-18', '2017-01-19',
                '2017-01-20', '2017-01-23', '2017-01-24', '2017-01-25',
                '2017-01-26', '2017-01-27'],
               dtype='datetime64[ns]', name='Date', length=1779, freq=None),
 Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')]

## 10.139 - Selecting from a DataFrame with a DatetimeIndex

In [4]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [5]:
company = "MSFT"
start = "2010-1-1"
end = "2017-12-31"

stocks = data.DataReader(name = company, data_source="google", start=start, end=end)
stocks.head(3)

             Open   High    Low  Close    Volume
Date
2010-01-04  30.62  31.10  30.59  30.95  38414185
2010-01-05  30.85  31.10  30.64  30.96  49758862
2010-01-06  30.88  31.08  30.52  30.77  58182332

In [10]:
stocks.loc["2014-3-4"]
stocks.iloc[300]
stocks.ix["2014-3-4"]
stocks.ix[300]

Open            25.08
High            25.47
Low             25.00
Close           25.39
Volume    76064201.00
Name: 2011-03-15 00:00:00, dtype: float64

In [11]:
stocks.ix["2017-2-2"]

KeyError: '2017-2-2'

In [14]:
stocks.loc["2013-10-01": "2013-10-07"]
stocks.ix["2013-10-01": "2013-10-07"]

             Open   High    Low  Close    Volume
Date
2013-10-01  33.35  33.61  33.30  33.58  36718733
2013-10-02  33.36  34.03  33.29  33.92  46946813
2013-10-03  33.88  34.00  33.42  33.86  38707452
2013-10-04  33.69  33.99  33.62  33.88  33008107
2013-10-07  33.60  33.71  33.20  33.30  35069279

In [16]:
birthdays = pd.date_range(start = "1968-05-13", end = "2017-12-31", freq = pd.DateOffset(years = 1))

In [19]:
mask = stocks.index.isin(birthdays)

In [22]:
stocks[mask]

             Open   High    Low  Close    Volume
Date
2010-05-13  29.26  29.73  29.18  29.24  45291598
2011-05-13  25.28  25.32  24.95  25.03  66819290
2013-05-13  32.61  33.07  32.55  33.03  36036347
2014-05-13  39.92  40.50  39.85  40.42  27004768
2015-05-13  48.19  48.32  47.57  47.62  34184613
2016-05-13  51.44  51.90  51.04  51.08  22436700

## 10.140 Timestamp Object Attributes

In [23]:
company = "MSFT"
start = "2010-1-1"
end = "2017-12-31"

stocks = data.DataReader(name = company, data_source="google", start=start, end=end)
stocks.head(3)

             Open   High    Low  Close    Volume
Date
2010-01-04  30.62  31.10  30.59  30.95  38414185
2010-01-05  30.85  31.10  30.64  30.96  49758862
2010-01-06  30.88  31.08  30.52  30.77  58182332

In [25]:
someday = stocks.index[500]
someday

Timestamp('2011-12-28 00:00:00')

In [29]:
someday.day
someday.weekday_name
someday.month

12

In [31]:
stocks.insert(0, "Day of Week", stocks.index.weekday_name)

In [33]:
stocks.insert(1, "Is Start of Month", stocks.index.is_month_start)

In [37]:
stocks[stocks["Is Start of Month"]]

           Day of Week Is Start of Month   Open   High    Low  Close    Volume
Date
2010-02-01      Monday              True  28.39  28.48  27.92  28.41  85931099
2010-03-01      Monday              True  28.77  29.05  28.53  29.02  43805302
2010-06-01     Tuesday              True  25.53  26.31  25.52  25.89  76155453
2010-07-01    Thursday              True  23.09  23.32  22.73  23.16  92239399
2010-09-01   Wednesday              True  23.67  23.95  23.54  23.90  65235852
2010-10-01      Friday              True  24.77  24.82  24.30  24.38  62672276
2010-11-01      Monday              True  26.88  27.22  26.70  26.95  61916183
2010-12-01   Wednesday              True  25.57  26.25  25.56  26.04  74123490
2011-02-01     Tuesday              True  27.80  28.06  27.61  27.99  62810661
2011-03-01     Tuesday              True  26.60  26.78  26.15  26.16  60054986
2011-04-01      Friday              True  25.53  25.53  25.31  25.48  63114201
2011-06-01   Wednesday              True  24.99  25.10  24.37  24.43  74036467
2011-07-01      Friday              True  25.93  26.17  25.84  26.02  52914516
2011-08-01      Monday              True  27.51  27.68  26.75  27.27  61846218
2011-09-01    Thursday              True  26.46  26.86  26.21  26.21  60511548
2011-11-01     Tuesday              True  26.19  26.32  25.86  25.99  61186956
2011-12-01    Thursday              True  25.56  25.63  25.20  25.28  48545338
2012-02-01   Wednesday              True  29.79  30.05  29.76  29.89  67413817
2012-03-01    Thursday              True  31.93  32.39  31.85  32.29  77348930
2012-05-01     Tuesday              True  32.05  32.34  31.95  32.01  43833208
2012-06-01      Friday              True  28.76  28.96  28.44  28.45  56641282
2012-08-01   Wednesday              True  29.59  29.65  29.21  29.41  31722523
2012-10-01      Monday              True  29.81  29.98  29.42  29.49  54042532
2012-11-01    Thursday              True  28.84  29.56  28.82  29.52  72047818
2013-02-01      Friday              True  27.67  28.05  27.55  27.93  55566440
2013-03-01      Friday              True  27.72  27.98  27.52  27.95  34851878
2013-04-01      Monday              True  28.64  28.66  28.36  28.61  29203122
2013-05-01   Wednesday              True  32.93  33.08  32.60  32.72  54336834
2013-07-01      Monday              True  34.75  34.99  34.33  34.36  31064000
2013-08-01    Thursday              True  32.06  32.09  31.60  31.67  42557872
2013-10-01     Tuesday              True  33.35  33.61  33.30  33.58  36718733
2013-11-01      Friday              True  35.67  35.69  35.39  35.52  40271887
2014-04-01     Tuesday              True  41.15  41.59  41.07  41.42  32610395
2014-05-01    Thursday              True  40.24  40.36  39.95  40.00  28791455
2014-07-01     Tuesday              True  41.86  42.15  41.69  41.87  26922597
2014-08-01      Friday              True  43.21  43.25  42.60  42.86  31171094
2014-10-01   Wednesday              True  46.27  46.53  45.84  45.90  38088355
2014-12-01      Monday              True  47.88  48.78  47.71  48.62  31191575
2015-04-01   Wednesday              True  40.60  40.76  40.31  40.72  36865322
2015-05-01      Friday              True  48.58  48.88  48.40  48.66  38937336
2015-06-01      Monday              True  47.06  47.77  46.62  47.23  28837332
2015-07-01   Wednesday              True  44.46  45.23  44.10  44.44  28343907
2015-09-01     Tuesday              True  42.17  42.59  41.66  41.82  49194736
2015-10-01    Thursday              True  44.75  44.75  43.75  44.61  28470381
2015-12-01     Tuesday              True  54.41  55.23  54.30  55.22  39848647
2016-02-01      Monday              True  54.88  55.09  54.50  54.71  43587105
2016-03-01     Tuesday              True  50.97  52.59  50.92  52.58  32778474
2016-04-01      Friday              True  55.05  55.61  54.57  55.57  24298612
2016-06-01   Wednesday              True  52.44  52.95  52.44  52.85  25324828
2016-07-01      Friday              True  51.13  51.72  51.07  51.16  21400392
2016-08-01      Monday              True  56.60  56.75  56.14  56.58  26003419
2016-09-01    Thursday              True  57.01  57.82  57.01  57.59  26075363
2016-11-01     Tuesday              True  59.97  60.02  59.25  59.80  24532986
2016-12-01    Thursday              True  60.11  60.15  58.94  59.20  34542121

## 10.141 The .truncate() Method

In [38]:
company = "MSFT"
start = "2010-1-1"
end = "2017-12-31"

stocks = data.DataReader(name = company, data_source="google", start=start, end=end)
stocks.head(3)

             Open   High    Low  Close    Volume
Date
2010-01-04  30.62  31.10  30.59  30.95  38414185
2010-01-05  30.85  31.10  30.64  30.96  49758862
2010-01-06  30.88  31.08  30.52  30.77  58182332

In [39]:
stocks.truncate(before = "2011-2-5", after = "2011-2-28")

             Open   High    Low  Close    Volume
Date
2011-02-07  27.80  28.34  27.79  28.20  68980871
2011-02-08  28.10  28.34  28.05  28.28  34910467
2011-02-09  28.19  28.26  27.91  27.97  52905018
2011-02-10  27.93  27.94  27.29  27.50  76672349
2011-02-11  27.76  27.81  27.07  27.25  83939643
2011-02-14  27.20  27.27  26.95  27.23  56766112
2011-02-15  27.04  27.33  26.95  26.96  44120592
2011-02-16  27.05  27.07  26.60  27.02  70817867
2011-02-17  26.97  27.37  26.91  27.21  57211558
2011-02-18  27.13  27.21  26.99  27.06  68672855
2011-02-22  26.78  27.10  26.52  26.59  60888998
2011-02-23  26.53  26.86  26.43  26.59  60234083
2011-02-24  26.64  27.06  26.50  26.77  64499005
2011-02-25  26.91  26.95  26.50  26.55  53006263
2011-02-28  26.69  26.86  26.51  26.58  51379675

## 10.142 pd.DateOffset Objects

In [41]:
stocks = data.DataReader(name = "GOOG", data_source="google",
                start= dt.date(2000, 1, 1), end=dt.datetime.now())
stocks.head(3)

             Open   High    Low  Close  Volume
Date
2004-08-19  49.96  51.98  47.93  50.12     NaN
2004-08-20  50.69  54.49  50.20  54.10     NaN
2004-08-23  55.32  56.68  54.47  54.65     NaN

In [50]:
stocks.index + pd.DateOffset(months = 8, years = 5, days = 12, hours = 3, minutes = 42)

DatetimeIndex(['2010-05-01 03:42:00', '2010-05-02 03:42:00',
               '2010-05-05 03:42:00', '2010-05-06 03:42:00',
               '2010-05-07 03:42:00', '2010-05-08 03:42:00',
               '2010-05-09 03:42:00', '2010-05-12 03:42:00',
               '2010-05-12 03:42:00', '2010-05-13 03:42:00',
               ...
               '2022-09-25 03:42:00', '2022-09-29 03:42:00',
               '2022-09-30 03:42:00', '2022-10-01 03:42:00',
               '2022-10-02 03:42:00', '2022-10-05 03:42:00',
               '2022-10-06 03:42:00', '2022-10-07 03:42:00',
               '2022-10-08 03:42:00', '2022-10-09 03:42:00'],
              dtype='datetime64[ns]', name='Date', length=3132, freq=None)

## 10.143 More Fun with pd.DateOffset Objects

In [55]:
import pandas as pd
import datetime as dt
from pandas_datareader import data
from pandas.tseries.offsets import *

In [56]:
stocks = data.DataReader(name = "GOOG", data_source="google",
                start= dt.date(2000, 1, 1), end=dt.datetime.now())
stocks.head(3)

             Open   High    Low  Close  Volume
Date
2004-08-19  49.96  51.98  47.93  50.12     NaN
2004-08-20  50.69  54.49  50.20  54.10     NaN
2004-08-23  55.32  56.68  54.47  54.65     NaN

In [63]:
stocks.index - MonthEnd()
stocks.index - BMonthEnd()
stocks.index - QuarterEnd()
stocks.index - QuarterBegin()

/home/webmadster/anaconda3/lib/python3.5/site-packages/pandas/tseries/index.py:817: PerformanceWarning: Non-vectorized DateOffset being applied to Series or DatetimeIndex
  "or DatetimeIndex", PerformanceWarning)

DatetimeIndex(['2004-06-01', '2004-06-01', '2004-06-01', '2004-06-01',
               '2004-06-01', '2004-06-01', '2004-06-01', '2004-06-01',
               '2004-06-01', '2004-06-01',
               ...
               '2016-12-01', '2016-12-01', '2016-12-01', '2016-12-01',
               '2016-12-01', '2016-12-01', '2016-12-01', '2016-12-01',
               '2016-12-01', '2016-12-01'],
              dtype='datetime64[ns]', name='Date', length=3132, freq=None)

In [67]:
stocks.index - YearBegin()

DatetimeIndex(['2004-01-01', '2004-01-01', '2004-01-01', '2004-01-01',
               '2004-01-01', '2004-01-01', '2004-01-01', '2004-01-01',
               '2004-01-01', '2004-01-01',
               ...
               '2017-01-01', '2017-01-01', '2017-01-01', '2017-01-01',
               '2017-01-01', '2017-01-01', '2017-01-01', '2017-01-01',
               '2017-01-01', '2017-01-01'],
              dtype='datetime64[ns]', name='Date', length=3132, freq=None)

## 10.144 The pandas Timedelta Object

In [72]:
timeA = pd.Timestamp("2016-3-31 04:35:16 PM")
timeB = pd.Timestamp("2016-3-20 02:16:49 AM")

In [76]:
timeB - timeA

Timedelta('-12 days +09:41:33')

In [74]:
type(timeA - timeB)

pandas.tslib.Timedelta

In [75]:
type(timeA)

pandas.tslib.Timestamp

In [82]:
pd.Timedelta(weeks = 8, days = 3, hours = 12, minutes = 45)

Timedelta('59 days 12:45:00')

In [81]:
pd.Timedelta("14 days 6 hours 12 minutes 49 seconds")

Timedelta('14 days 06:12:49')

## 10.145 - Timedeltas in a Dataset

In [86]:
shipping = pd.read_csv('ecommerce.csv', index_col = "ID", parse_dates = ["order_date", "delivery_date"])
shipping.head(3)

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26

In [89]:
shipping["Delivery Time"] = shipping["delivery_date"] - shipping["order_date"]

In [90]:
shipping.head(3)

   order_date delivery_date  Delivery Time
ID
1  1998-05-24    1999-02-05       257 days
2  1992-04-22    1998-03-06      2144 days
4  1991-02-10    1992-08-26       563 days

In [93]:
shipping["Twice As Long"] = shipping["delivery_date"] + shipping["Delivery Time"]

In [94]:
shipping.head(3)

   order_date delivery_date  Delivery Time Twice As Long
ID
1  1998-05-24    1999-02-05       257 days    1999-10-20
2  1992-04-22    1998-03-06      2144 days    2004-01-18
4  1991-02-10    1992-08-26       563 days    1994-03-12

In [95]:
shipping.dtypes

order_date        datetime64[ns]
delivery_date     datetime64[ns]
Delivery Time    timedelta64[ns]
Twice As Long     datetime64[ns]
dtype: object

In [99]:
mask = shipping["Delivery Time"] == "3423 days"
shipping[mask]

    order_date delivery_date  Delivery Time Twice As Long
ID
130 1990-04-02    1999-08-16      3423 days    2008-12-29

In [102]:
shipping["Delivery Time"].min()

Timedelta('8 days 00:00:00')