## 14.169 Intro to Options and Settings Module

In [1]:
import pandas as pd
import numpy as np

## 14.170 Changing Options with Attributes and Dot Syntax

In [6]:
data = np.random.randint(0, 100, [1000, 50])
df = pd.DataFrame(data)
df.tail(2)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
998,68,76,31,93,28,23,94,8,8,60,...,87,8,37,53,1,4,88,5,7,16
999,13,39,46,23,74,45,84,61,79,60,...,52,41,23,44,68,81,76,23,67,41

In [11]:
pd.options.display.max_rows = 4

In [14]:
pd.options.display.max_columns = 8

In [15]:
df

     0   1   2   3  ...  46  47  48  49
0    26   7   3  44 ...  66   9   7  27
1    69  32  75  92 ...  60  62  38  89
..   ..  ..  ..  .. ...  ..  ..  ..  ..
998  68  76  31  93 ...  88   5   7  16
999  13  39  46  23 ...  76  23  67  41

[1000 rows x 50 columns]

## 14.171 Changing pandas Options with Methods

In [17]:
df.tail(2)

     0   1   2   3  ...  46  47  48  49
998  68  76  31  93 ...  88   5   7  16
999  13  39  46  23 ...  76  23  67  41

[2 rows x 50 columns]

In [18]:
pd.get_option("max_rows")

4

In [19]:
pd.get_option("max_columns")

8

In [22]:
pd.set_option("max_columns", 20)

In [25]:
pd.options.display.max_columns = 10

In [26]:
pd.get_option("max_columns")

10

In [27]:
pd.reset_option("max_rows")

In [28]:
pd.get_option("max_rows")

60

In [29]:
pd.reset_option("max_columns")

In [30]:
pd.get_option("max_columns")

20

In [31]:
pd.describe_option("max_columns")

display.max_columns : int
    If max_cols is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the width of the terminal and print a truncated object which fits
    the screen width. The IPython notebook, IPython qtconsole, or IDLE
    do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 20] [currently: 20]

## 14.172 The precision Option

In [32]:
df = pd.DataFrame(np.random.randn(5, 5))
df

          0         1         2         3         4
0  0.719811  0.271388  0.318555  1.550143 -1.623112
1 -2.270603 -1.820887 -0.921046  1.001054  0.044535
2 -1.942666  0.252513  0.090228  1.253746  0.293818
3 -0.801350 -1.586912 -0.805817 -0.782083 -0.481768
4 -0.943225 -0.560247  0.883943 -2.273739  0.801357

In [33]:
pd.get_option("precision")

6

In [34]:
pd.set_option("precision", 2)

In [35]:
df

      0     1     2     3     4
0  0.72  0.27  0.32  1.55 -1.62
1 -2.27 -1.82 -0.92  1.00  0.04
2 -1.94  0.25  0.09  1.25  0.29
3 -0.80 -1.59 -0.81 -0.78 -0.48
4 -0.94 -0.56  0.88 -2.27  0.80

In [36]:
pd.reset_option("precision")

In [37]:
df

          0         1         2         3         4
0  0.719811  0.271388  0.318555  1.550143 -1.623112
1 -2.270603 -1.820887 -0.921046  1.001054  0.044535
2 -1.942666  0.252513  0.090228  1.253746  0.293818
3 -0.801350 -1.586912 -0.805817 -0.782083 -0.481768
4 -0.943225 -0.560247  0.883943 -2.273739  0.801357